<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SocialPoster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>125B9FEE1B790D1000F685BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>125BA0021B790D1000F685BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>125BA00D1B790D1000F685BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
